---
layout: default
---

{% assign strings = site.data.strings.package %}

<article class="package">
	{% if page.feature_graphic %}
		<img
			class="feature-graphic"
			src="{{ site.fdroid-repo}}/{{ page.package_name }}/{{ page.feature_graphic }}" />
	{% endif %}

	<header class="package-header">
		<img class="package-icon" src="{{ site.fdroid-repo }}/{{ page.icon }}" />
		<div class="package-title">
			<h3 class="package-name">
				{{ page.title }}
			</h3>
			<div class="package-summary">
				{{ page.summary }}
			</div>
		</div>
	</header>
	<div class="package-description">
		{{ page.description }}
	</div>
	<ul class="package-links">
		<li class="package-link">
			{{ strings.license }}:
			<a href="{{ page.license|get_license_url }}">{{ page.license|get_license_name }}</a>
		</li>
		{% if page.website != "" and page.website != nil %}
			<li class="package-link">
				<a href="{{ page.website }}">{{ strings.website }}</a>
			</li>
		{% endif %}
		{% if page.issue_tracker != "" and page.issue_tracker != nil %}
			<li class="package-link">
				<a href="{{ page.issue_tracker }}">{{ strings.issue_tracker }}</a>
			</li>
		{% endif %}
		{% if page.source_code != "" and page.source_code != nil %}
			<li class="package-link">
				<a href="{{ page.source_code }}">{{ strings.source_code }}</a>
			</li>
		{% endif %}
		{% if page.changelog != "" and page.changelog != nil %}
			<li class="package-link">
				<a href="{{ page.changelog }}">{{ strings.changelog }}</a>
			</li>
		{% endif %}
		{% if page.donate != "" and page.donate != nil %}
			<li class="package-link">
				<a href="{{ page.donate }}">{{ strings.donate }}</a>
			</li>
		{% endif %}
		{% if page.flattrID != "" and page.flattrID != nil %}
			<li class="package-link">
				<a href="https://flattr/thing/{{ page.flattrID }}">{{ strings.flattr }}</a>
			</li>
		{% endif %}
		<li class="package-link">
			<a href="https://f-droid.org/wiki/page/{{page.package}}">{{ strings.technical_info }}</a>
		</li>
	</ul>

	{% if page.phone_screenshots %}
		<div id="screenshots" class="screenshots">
			<ul class="gallery">
				{% for screenshot in page.phone_screenshots %}
					<li class="screenshot"><img src="{{ site.fdroid-repo}}/{{ page.package_name }}/{{ screenshot }}" /></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<div class="package-versions">
		<h3>{{ strings.packages }}</h3>
		<p>
			{{ strings.suggest_downloading_via_fdroid }}
		</p>
		<a href="https://f-droid.org/FDroid.apk" class="material-button">{{ site.data.strings.index.download_fdroid }}</a>
		<ul class="package-versions-list">
			{% for package in page.packages %}
			<li class="package-version">
				<div class="package-version-header">
					{% comment %}
					Use YYYY-MM-DD format, because it is more internationalizable than versions which include English month names.
					{% endcomment %}
					{% assign package_added_date = package.added | date: '%F' %}
                                        <a name="{{ package.version_name }}"></a>
                                        <a name="{{ package.version_code }}"></a>
					{{ strings.version_info | replace: '[package_version]', package.version_name | replace: '[package_version_code]', package.version_code | replace: '[package_added_date]', package_added_date }}
				</div>
				<p class="package-version-requirement">
					{% assign android_version = package.min_sdk_version | android_sdk_level_to_version %}
					{{ strings.minimum_android_version | replace: '[android_version]', android_version }}
				</p>

				<p class="package-version-download">
					<a href="{{ site.fdroid-repo }}/{{ package.apk_name }}">{{ strings.download_apk }}</a> {{ package.size|file_size_human_readable }}
					<a href="{{ site.fdroid-repo }}/{{ package.apk_name }}.asc">{{ strings.gpg_signature }}</a>
				</p>

				<div class="package-version-permissions">
					<h4>{{ strings.permissions }}</h4>
					<ul class="package-version-permissions-list">
						{% for permission in package.uses_permission %}
						<li>
							{{ permission.permission }}
							{% if permission.min_sdk %}
								({{ permission.min_sdk | android_sdk_level_to_version }})
							{% endif %}
						</li>
						{% endfor %}
					</ul>
				</div>

			</li>
			
			{% endfor %}

		</ul>

	</div>

</article>
